
body{
    background: rgb(0, 255, 0);
    margin-left: 100px;
    margin-right: 200px;
}

header{
    margin-top: 70px;
}


h1{
    color:brown;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

footer{
    margin-bottom: 50px;
}

.img_padrao{
    margin-bottom: 50px;
    width: 500px;
}

.logo{
    margin: 50px;
    width: 70px;
}